{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h1>fc2 movies!</h1>
          <form method="get" action="">
              <br/>
              <!--{% csrf_token %}-->
              <p>
                  <input type="text" class="form-control" placeholder="input some word" name="query"><br/>
                  <input class="btn btn-primary btn-lg" type="submit" value="search&raquo;">
              </p>
          </form>

      </div>
{% endblock %}
{% load private %}

{% block content2 %}
    {% if tag %}
        <p>タグ 「{{tag}}」 の検索結果</p>
    {% endif %}
    {% if query %}
        <p>キーワード 「{{query}}」 の検索結果</p>
    {% endif %}

    <table class="table table-striped" id="url_table">
      <thead>
        <tr>
            <th>Rank</th>
            <th>Thumbnail</th>
            <th>Playing</th>
            <th>Fav</th>
            <th>Title</th>
            <th>Tags</th>
            <th>Playtime</th>

        </tr>
      </thead>
      <tbody>

      {% for movie in movies %}
            <tr>
                <th scope="row">{{ forloop.counter|add:num }}</th>
                <td><a href="{{movie.url}}" target="_blank"><img src="{{movie.thumbnail}}"></a></td>
                <td>{{ movie.playing }}</td>
                <td>{{ movie.fav }}</td>
                <td>{{ movie.title}}</td>
                <td>
                    <ul style="list-style:none;">
                        {% for t in movie.tag %}
                            <li>{{t}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{movie.play_time}}</td>
                <!--<td>-->
                    <!--<form action="{% url 'download' %}" method="get">-->
                        <!--<input id="submit" type="button" value="Download" name="{{movie|private:'_id'}}"/>-->
                    <!--</form>-->
                <!--</td>-->
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        <li>
            {% if movies.has_previous %}
                <a href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {% for i in five %}
            <li><a href="?page={{movies.number|add:i}}">{{movies.number|add:i}}</a></li>
        {% endfor %}
        <li>
            {% if movies.has_next %}
                <a href="?page={{ movies.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
      </ul>
    </nav>


{% endblock %}

<!--<h1>Join Now</h1>-->
    <!--<form method="POST" action="">-->
        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->

        <!--<input type="submit">-->
    <!--</form>-->